<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>CTRL Finance</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/estilos.css"/>
	<link rel="shortcut icon" href="imagens/dollar.png" type="image/x-icon" />
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="row">
				<div  class="col-sm">
					<h1 id="titulo"><strong> CTRL Finance </strong></h1>
				</div>
				<div class="col-sm">
					
				</div>
			</div>
		</div>
	</header>
	<div class="container" id="corpo">
			<div class="row">
				<div class="mx-auto">
					<div class="jumbotron">
						<h2>Token inválido</h2>					
					</div>
					<a href="/"><h2>Ir para página de login</h2></a>
				</div>
			</div>
	</div>
</body>
</html>